<!-- move this constant somewhere else -->
<% num_words = ["Zero", "One", "Two", "Three",
   "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten"]
%>

<% all_my_choice_ids = @my_voices.map { |voice| voice.choice_id } %>

<% num = 1 %>
<div class="panel-group" id="accordion">
  <% @questions.each do |question| %>

    <!-- DANGER: may be generating queries here
         TODO: ensure this data is already present -->
    <% question_choice_ids = question.choices.map { |x| x.id } %>
    <% my_choice_ids = all_my_choice_ids & question_choice_ids %>
    <% num_word = num_words[num] %>

    <div class="panel panel-default" id="panel<%= num_word %>">

      <%= render partial: "questions/q_panel_content", locals: {question: question, my_choice_ids: my_choice_ids, num_word: num_word} %>

    </div>

    <% num += 1 %>

  <% end %>
</div>

<script type="text/javascript">
  window.QuestionsJS.attachButtonPaneClickHandlers();
</script>