<p id="notice"><%= notice %></p>

<div id="stars-header">
  <%= render 'questions/stars_header' %>
</div>

<div id="home-questions-top" class="questions-top">
  <% if not (@questions.nil? or @questions.empty?) %>
    <%= render 'questions/all_questions' %>
  <% else %>
    <h2>All Questions Seen</h2>
  <% end %>
</div>

<%= render 'questions/bottom_nav' %>