<p id="notice"><%= notice %></p>

<div id="home-questions-top" class="questions-top">
  <% if not (@questions.nil? or @questions.empty?) %>
    <%= render 'questions/all_questions' %>
  <% else %>
    <h2>All Questions Seen</h2>
  <% end %>
</div>

<div class="footer" style="text-align: center;"> <!-- footer currently undefined -->

  <!-- <div class="text-muted"><small><%= @n_unresponded %> remaining on page</small></div> -->

  <div class="text-muted"><small><em>only responded questions are replaced</em></small></div>
  <a href="<%= questions_path %>" class="btn btn-info" role="button">Next</a>

</div>