<p id="notice"><%= notice %></p>

<div id="passed-questions-top" class="questions-top">
  <% if not (@questions.nil? or @questions.empty?) %>
    <%= render 'questions/all_questions' %>
  <% else %>
    <h2>No Passed Questions</h2>
  <% end %>
</div>

<% if @questions.count > 5 %>
  <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <%= will_paginate @questions %>
  </nav>
<% end %>