<p id="notice"><%= notice %></p>

<h2>Everyone Knows | Passed </h2>

<div id="questions-top passed-questions-top">
  <% if not (@questions.nil? or @questions.empty?) %>
    <%= render 'questions/all_questions' %>
  <% else %>
    <h2>No Passed Questions</h2>
  <% end %>
</div>

<%= render 'questions/bottom_nav' %>