<p id="notice"><%= notice %></p>

<h2>
  Everyone Knows |
  Voiced |
  <span id="stars-header">
    <%= render partial: 'questions/stars_header' %>
  </span>
</h2>

<div id="voiced-questions-top" class="questions-top">
  <% if not (@questions.nil? or @questions.empty?) %>
    <%= render 'questions/all_questions' %>
  <% else %>
    <h2>No Voiced Questions</h2>
  <% end %>
</div>

<%= render 'questions/bottom_nav' %>