<p id="notice"><%= notice %></p>

<h2>Everyone Knows | Voiced </h2>

<div id="voiced-questions-top" class="questions-top">
  <% if not (@questions.nil? or @questions.empty?) %>
    <%= render 'questions/all_questions' %>
  <% else %>
    <h2>No Voiced Questions</h2>
  <% end %>
</div>

<%= render 'questions/bottom_nav' %>