<div class="eok-bucket welcome-bucket prologue-bucket">

<div class="jumbotron">

  <p>
    Welcome, <%= current_user_auth.name %>!
  </p>

  <p>
    Questions are ranked and shown by their ¢.
  </p>

  <p>When you contribute your voice, you also contribute your <b>2 ¢</b> to that question.
  </p>

  <p>
    ¢ are the currency of knowledge in our experiment. They not tradable for money. You earn 120 ¢ each day, 10 ¢ for matching everyone's answer 5 times, and 10 ¢ for each 100 ¢ gained by questions you've written. You can also donate ¢ to any question that you like to boost its ranking.
  </p>

  <p>
    Continue to the
    <%= link_to 'first page', questions_path %>
  </p>

</div>

</div>