<div class="eok-bucket welcome-bucket prologue-bucket">

  <!-- <p>
    Welcome to Everyone Knows, where you can find out what everyone knows.
  </p>

  <p>
    Here is 350 ¢ !
  </p>

  <p>
    Share what you know to learn what everyone knows. When you give your voice, you also donate 2 of your ¢ to that question. The more ¢ a question gets, the more important it becomes, and the more everyone will see it. You get 120 ¢ free every day. 10 ¢ are awarded for matching everyone's answer five times in a row, or for every 100 ¢ gained by questions you've written.
  </p> -->

  <div class="link-button">
    <%= link_to 'Continue', questions_path %>
  </div>

</div>