<div class="container">
<div class="jumbotron">
  <p>Welcome to Everyone Knows!</p>

  <p>This is an experiment in the democracy of knowledge.</p>

  <p>We need <b>you</b> to contribute your voice to the most important questions of our time</p>

  <p>
    <%= link_to 'Login with facebook', '/auth/facebook' %> to begin
  </p>
</div>
</div>